<main>

  <section class="py-5 text-center container">
    <div class="row py-lg-5">
      <div class="col-lg-6 col-md-8 mx-auto">
        <h1 class="fw-light">Confirm Posts</h1>
        <p class="lead text-muted"></p>
        <p>
          <button class="btn btn-primary my-2" (click)="navigate('WAITING_CONFIRM')">Waiting Confirmed Posts</button>
          <button style="width: 244px;
    margin-left: 16px;" class="btn btn-secondary my-2" (click)="navigate('ALL')">All Posts
          </button>
        </p>
      </div>

    </div>
  </section>

  <div class="album py-5 bg-light">
    <div class="container">

      <div  style="    text-align: center;" class="row row-cols-1 row-cols-sm-2 row-cols-md-3 g-3" *ngIf="postList.length==0">
        <h3 class="fw-light">No new posts found !</h3>
      </div>
      <div class="row row-cols-1 row-cols-sm-2 row-cols-md-3 g-3" *ngIf=" postList.length >0 ">

        <div class="col" *ngFor="let postRes of postList;let i=index">
          <div class="card shadow-sm">
            <img [src]="postRes.image"/>
            <div class="card-body">
              <p class="card-text">{{postRes.post.title}}</p>
              <small class="card-text">{{postRes.post.description}}</small>
              <div class="d-flex justify-content-between align-items-center">


                <div class="btn-group" *ngIf="postRes.post.state == 'WAITING_CONFIRM'">
                  <button type="button" class="btn btn-sm btn-outline-secondary"
                          (click)="changeState(postRes.post.id,'CONFIRM')">Confirm
                  </button>
                  <button type="button" class="btn btn-sm btn-outline-secondary"
                          (click)="changeState(postRes.post.id,'IGNORE')">Ignore
                  </button>
                </div>

                <small class="text-muted">Post User : {{postRes?.user?.username}}</small>
                <small [ngStyle]="{'color': postRes.post.state !== 'CONFIRM' ? 'red' :'green' }"
                       *ngIf=" postRes.post.state !=='WAITING_CONFIRM'" class="">{{postRes.post.state}}
                </small>
              </div>
            </div>
          </div>
        </div>


      </div>
    </div>
  </div>

</main>
